/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


h1 strong {
    color:#79C;
}

.navbar-brand {
    text-decoration:underline;
    text-decoration-color:#79C;
    text-decoration-style:wavy;
}

p strong {
    color:#36A;
}

